
.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    max-width: 85rem;

    grid-template-areas: 
    "form" 
    "submit ListArea";
}

form {
    background-color: rgb(231, 224, 182);
    width: 500px;
    display: flex;
}

fieldset {
    width: 500px;
    border-radius: 5px;
}

.submit{
    display: flex;
}

.ListArea{
    border: solid 5px black;
    max-width: 700px;
}

div {
    margin: 10px;
    color: black;
}

.food {
    margin: 5px;
}

.check {
    margin: 5px;
}

.print {
    text-align: center;
    margin-left: 10px;
}
